<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Reset Poll</title>
	<style>
		html {
			font-size: 14px;
		}
		h1 {
			margin-top: 0rem;
			padding-top: 0px;
			padding-bottom: 0px;
			
			padding-right:64rem;
			font-size: 3.5rem;
			color: rgb(134, 11, 26);
		}

		body {
			background-color: rgb(195, 216, 238);
			font-size: 1.5rem;
		}

	</style>
</head>

<body>
	<h1>Reset Poll</h1>
	<div>
		<strong>All the ballots have been reset in the poll database. Number of ballots removed: </strong>
		<%- deletedDocs %>
		<br>
	</div>
</body>

<hr>
<br>

<a href="/">Voter Home Page</a></li>

</html>
