<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>See Ballots</title>
	<style>
		html {
			font-size: 14px;
		}
		h1 {
			margin-top: 0rem;
			padding-top: 0px;
			padding-bottom: 0px;
			
			padding-right:64rem;
			font-size: 3.5rem;
			color: rgb(134, 11, 26);
		}

		body {
			background-color: rgb(195, 216, 238);
			font-size: 1.5rem;
		}

	</style>
</head>

<body>
	<h1>See Ballot By Party</h1>
	<form action="/count" method="post">
		<fieldset>    
            <label for = "party"><strong>Political Party:</strong></label>
            <select name="party" id="party">
              <option value="Democrat">Democrat</option>
              <option value="Republican">Republican</option>
              <option value="Independent">Independent</option>
            </select>
            <br>
            <br>
		</fieldset>

		<br>
		<input type="submit" value="See Ballots"/>
	</form>
</body>

<hr>
<br>

<a href="/">Voter Home Page</a></li>

</html>
